.wrap {
    overflow: hidden;
}

.carousel {
    display: flex;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);
}

@media (min-width: 30em) {
    .carousel {
        left: -50%;
        transform: translateX(50%);
    }
}

@media (min-width: 40em) {
    .carousel {
        left: -33.33333%;
        transform: translateX(33.33333%);
    }
}

.carousel.is-reversing {
    transform: translateX(-100%);
}

@media (min-width: 30em) {
    .carousel.is-reversing {
        transform: translateX(-50%);
    }
}

@media (min-width: 40em) {
    .carousel.is-reversing {
        transform: translateX(-33.33333%);
    }
}

.carousel.is-set {
    transform: none;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
    background: #fdf9f9;
    flex: 1 0 100%;
    order: 2;
    /*    border-right: 1px solid #f6cac9;*/
}

.carousel-seat:nth-child(even) {
    background: #fdf9f9;
    /* 9896A4; */
}

@media (min-width: 30em) {
    .carousel-seat {
        flex-basis: 50%;
    }
}

@media (min-width: 40em) {
    .carousel-seat {
        flex-basis: 33.33333%;
    }
}

.carousel-seat.is-ref {
    order: 1;
}

h2 {
    color: #aaa;
    font-size: 7em;
    font-weight: normal;
    margin: 0;
    padding: 0.6em 0;
    text-align: center;
}

.controls {
    padding: 2em;
    text-align: center;
    border-top: 1px solid #f6cac9;
}

.controls button {
    background: #9896A4;
    border: 0;
    border-radius: 0.25em;
    color: #4c4b52;
    font-size: 16px;
    padding: 0.5em 1em;
    margin: 4px;
    font-family: 'Caveat Brush', cursive;
}

.controls button:hover,
.controls button:focus {
    background: #91A8D0;
}

.holder {
    text-align: center;
    padding: 20px;
    margin: 50px;
    border: 1px solid #fae4e4;
    background: whitesmoke;
    border-radius: 6px;
}